body {
    font-family: 'Lato', 'Nanum Gothic', sans-serif;
}

/* Home */
.home h2, h6 {
    text-transform: none;
}

/* About */
article.about h3 {
    text-decoration: underline;
}
article.about a {
    text-decoration: none;
    color: #36c;
    font-weight: 400;
}

/* List */
.list ul li a {
    text-transform: none; 
}

/* Posts */
section.post article h1, h2, h3, h4, h5, h6 {
    text-transform: none;
}
section.post a {
    color: #36c;
    font-weight: inherit
}
section.post code {
    line-height: 2rem;
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
section.post .highlight code {
    color: inherit;
    background-color: inherit;
    border: 0;
}
section.post article {
    padding: 1em 0;
}
section.post article.note,
section.post article.note h1 {
    font-family: 'Nanum Myeongjo', serif;
}
.cc-box {
    margin: 4rem 0 0;
    padding: 2rem 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

blockquote {
    border-left: 0;
    margin: 1.5rem 2rem;
    padding: 0.5rem 2rem;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    content: "\201C";
    font-size: 5rem;
    font-family: Georgia;
    color: #bcbcbc;
    float: left;
    margin: 3rem 0 0 -3rem;
  }
